.popup__close {
  background-image: url(../../../images/close-Icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 56px 56px;
  top: -46px;
  right: -44px;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  outline: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__close {
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    right: 0;
    top: -48px;
  }
}
