.page__container {
  min-width: 250px;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border: 2px solid;
}

@media screen and (max-width: 1024px) {
  .page__container {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 767px) {
  .page__container {
    width: 100%;
  }
}
